#  Data Science Tools an Ecosystem

In this notebook,Data Science Tools an Ecosystem are summaried.

__Objective:__
- List popular languages that Data Scientists use.
- List commonly used libraries used by Data Scientists.
- Comment on Data Science Tools.

Some of the popular languages that Data Science use are:

1. Python
2. R
3. SQL
4. Java
5. JavaScript
6. Julia

Some of the commonly use libraries used by Data Scientists inclue:

1. NumPy
2. Pandas
3. Matplotlib
4. SciPy
5. TensorFlow
6. Keras
7. SciKit-Learn
8. Scrapy
9. LightGBM
10. BeautifulSoup

Data Science Tools:

|Data Science Tools|
|-----------|
|SAS|
|Apache|
|Spark|
|BigML|

### Below are few examples of evaluating arithmetic expressions in python:

In [7]:
#Arithmetic oprations
#This is simple arithmetic expression to multiply then add integers
import math 
a=(3*4)+5
print(a)

17

In [9]:
#This will covert 200 minutes to hours by diving by 60
Minutes=200
Hours=Minutes/60
print("Hours",Hours)

Hours 3.3333333333333335

## Author
Patel Ayush